flows/Environment_User_Stories_Behind_Calculation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Calculate_user_stories_behind</name>
        <label>Calculate user stories behind</label>
        <locationX>396</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>Userstoriesbehind</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculationuserstoriesbehind</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Story_Environment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_forward_promoted_stories</name>
        <label>Loop forward promoted stories</label>
        <locationX>396</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>LoopTotalforwardpromotions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TotalUserStoriesfrompromoteduserstories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_back_promoted_stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_all_and_add_the_last_one_to_remove_duplicates</name>
        <label>Remove all and add the last one to remove duplicates</label>
        <locationX>484</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>TotalUserStoriesfrompromoteduserstories</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Remove_Duplicates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalUserStoriesfrompromoteduserstories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Remove_Duplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_back_promoted_stories</name>
        <label>Total back promoted stories</label>
        <locationX>396</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>LoopTotalbackpromoted</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Back_promotions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_user_stories_behind</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_User_Story_Environment</name>
        <label>Update User Story Environment</label>
        <locationX>396</locationX>
        <locationY>1967</locationY>
        <defaultConnector>
            <targetReference>Loop_through_each_pipeline_connection_and_update_environment_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_stories_behind_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculationuserstoriesbehind</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Environment_record_or_user_story</targetReference>
            </connector>
            <label>User stories behind greater than 0</label>
        </rules>
    </decisions>
    <formulas>
        <name>Calculationuserstoriesbehind</name>
        <dataType>Number</dataType>
        <expression>{!LoopTotalforwardpromotions}-{!LoopTotalbackpromoted}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Environment User Stories Behind Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Environment User Stories Behind Calculation</label>
    <loops>
        <name>Loop_through_each_pipeline_connection_and_update_environment_record</name>
        <label>Loop through each pipeline connection and update environment record</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Pipeline_connections_not_tied_to_user_story</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_forward_promoted_stories</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Remove_Duplicates</name>
        <label>Remove Duplicates</label>
        <locationX>396</locationX>
        <locationY>1151</locationY>
        <collectionReference>Get_User_Story_Tied_to_promoted_user_story</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_all_and_add_the_last_one_to_remove_duplicates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Back_promotions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Test_remove_duplicate_user_story_numbers</name>
        <label>Test remove duplicate user story numbers</label>
        <locationX>396</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_forward_promoted_stories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_Story_Tied_to_promoted_user_story</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Duplicates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Back_promotions</name>
        <label>Back promotions</label>
        <locationX>396</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_forward_promoted_stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promotion_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>&apos;Completed&apos;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Destination_Promotion_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_each_pipeline_connection_and_update_environment_record.copado__Source_Environment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_back_promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_forward_promoted_stories</name>
        <label>Get forward promoted stories</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_remove_duplicate_user_story_numbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source_Promotion_Environment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Loop_through_each_pipeline_connection_and_update_environment_record.copado__Source_Environment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exclude_from_CBM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Promotion_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__User_Story__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_pipeline_connections</name>
        <label>Get pipeline connections</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pipeline_connections_not_tied_to_user_story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Deployment_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Remove_Duplicates.copado__Project__r.copado__Deployment_Flow__r.Id</elementReference>
            </value>
        </filters>
        <object>copado__Deployment_Flow_Step__c</object>
        <outputReference>TargetEnvironmentofuserstorypipelineconnection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Destination_Environment_Record_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Story_Tied_to_promoted_user_story</name>
        <label>Get User Story Tied to promoted user story</label>
        <locationX>484</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_remove_duplicate_user_story_numbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Test_remove_duplicate_user_story_numbers.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pipeline_connections_not_tied_to_user_story</name>
        <label>Pipeline connections pointing at destination</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_each_pipeline_connection_and_update_environment_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Destination_Environment_Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetEnvironmentofuserstorypipelineconnection.Destination_Environment_Record_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Deployment_Flow_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Environment_record_or_user_story</name>
        <label>Update Environment record of pipeline connection</label>
        <locationX>264</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Loop_through_each_pipeline_connection_and_update_environment_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_each_pipeline_connection_and_update_environment_record.copado__Source_Environment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>User_Stories_Behind__c</field>
            <value>
                <elementReference>Calculationuserstoriesbehind</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Environment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_pipeline_connections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Exclude_From_CBM__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DeDuplicatedpromoteduserstories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>LoopTotalbackpromoted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopTotalforwardpromotions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TargetEnvironmentofuserstorypipelineconnection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__Deployment_Flow_Step__c</objectType>
    </variables>
    <variables>
        <name>TotalUserStoriesfrompromoteduserstories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>Userstoriesbehind</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
