flows/User_Stories_Behind_Calculation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_total_number_of_forward_promoted_user_stories</name>
        <label>Assign total number of forward promoted user stories</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TotalForwardpromoteduserstories</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_all_promoted_stories_pointing_to_target_org</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_number_of_back_promoted_stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_number_of_back_promoted_stories</name>
        <label>Total number of back promoted stories</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Totalnumberofbackpromoteduserstories</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Back_promoted_user_stories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_user_stories_behind_calculation</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_user_stories_behind_calculation</name>
        <label>Check user stories behind calculation</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Assign_user_stories_behind_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_to_see_if_formula_is_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userstoriesenvironmentsbehind</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_user_stories_behind_a_positive_number</targetReference>
            </connector>
            <label>Check to see if formula is greater than 0</label>
        </rules>
    </decisions>
    <formulas>
        <name>userstoriesenvironmentsbehind</name>
        <dataType>Number</dataType>
        <expression>{!TotalForwardpromoteduserstories}-{!Totalnumberofbackpromoteduserstories}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>User Stories Behind Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Stories Behind Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Back_promoted_user_stories</name>
        <label>Back promoted user stories</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_total_number_of_forward_promoted_user_stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_back_promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Destination_Environment_Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Environment_Record_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_promoted_stories_pointing_to_target_org</name>
        <label>Get all promoted stories pointing to target org</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Back_promoted_user_stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Destination_Environment_Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Promotion__r.copado__Destination_Environment__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source_Environment_Record_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Source_Environment_Record_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_user_stories_behind_a_positive_number</name>
        <label>Assign user stories behind a positive number</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source_Environment_Record_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>User_Stories_Behind__c</field>
            <value>
                <elementReference>userstoriesenvironmentsbehind</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Environment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_user_stories_behind_to_0</name>
        <label>Assign user stories behind to 0</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source_Environment_Record_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>User_Stories_Behind__c</field>
            <value>
                <elementReference>Zero</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Environment__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_promoted_stories_pointing_to_target_org</targetReference>
        </connector>
        <object>copado__Promoted_User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>TotalForwardpromoteduserstories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Totalnumberofbackpromoteduserstories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
