flows/User_Stories_Behind_Calculation_for_Environment_and_User_Stories.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_user_story_to_total_user_stories</name>
        <label>Add user story to total user stories</label>
        <locationX>924</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Totaluserstories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Stories_from_Promoted_User_Stories.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_through_each_promoted_user_story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Story_to_Userstoriestiedtosourceenvironment</name>
        <label>Add User Story to Userstoriestiedtosourceenvironment</label>
        <locationX>704</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>UserStoriesTiedtoSourceEnvironment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Run_through_each_promoted_user_story.copado__User_Story__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Stories_from_Promoted_User_Stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_counts</name>
        <label>Assign counts</label>
        <locationX>616</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>Totalforwardpromotedstories</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Totaluserstories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Totalbackpromotedstories</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_back_promoted_user_stories_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_to_see_if_user_stories_behind_is_less_than_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_lists</name>
        <label>Clear lists</label>
        <locationX>616</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Totaluserstories</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emptytextlist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_back_promoted_user_stories_0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emptypromoteduserstorylist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_promoted_stories_for_each_pipeline_connection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emptypromoteduserstorylist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserStoriesTiedtoSourceEnvironment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyUserStoriesTiedtoSourceEnvironment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_to_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_to_0</name>
        <label>Reset to 0</label>
        <locationX>616</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Totalforwardpromotedstories</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Totalbackpromotedstories</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_promoted_stories_for_each_pipeline_connection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TEST_PIPELINE_CONNECTION_COUNT</name>
        <label>TEST PIPELINE CONNECTION COUNT</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>TESTPIPELINECONNECTIONCOUNT</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Pipeline_Connections</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_pipeline_connections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TEST_PROMOTED_USER_STORY_COUNT</name>
        <label>TEST PROMOTED USER STORY COUNT</label>
        <locationX>616</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>TESTPROMOTEDUSERSTORIESCOUNT</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_promoted_stories_for_each_pipeline_connection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_through_each_promoted_user_story</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_duplicates_before_adding_to_user_story_list</name>
        <label>Check for duplicates before adding to user story list</label>
        <locationX>836</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>Add_user_story_to_total_user_stories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_user_story_matches_user_story_in_list</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Totaluserstories</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_User_Stories_from_Promoted_User_Stories.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserStoriesTiedtoSourceEnvironment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_User_Stories_from_Promoted_User_Stories.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_through_each_promoted_user_story</targetReference>
            </connector>
            <label>Current user story matches user story in list</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_see_if_user_stories_behind_is_less_than_0_0</name>
        <label>Check to see if user stories behind is less than 0</label>
        <locationX>616</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Update_user_stories_behind_to_formula_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Userstoriesbehind</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_user_stories_behind_field_to_0_0</targetReference>
            </connector>
            <label>Less than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_see_if_user_story_was_part_of_pipeline_connection</name>
        <label>Check to see if user story was part of pipeline connection</label>
        <locationX>836</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Get_User_Stories_from_Promoted_User_Stories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Story_Contains_Pipeline_Connection_Source_Environment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Run_through_each_promoted_user_story.Promotion_Source_Environment_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_pipeline_connections.copado__Source_Environment__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_Story_to_Userstoriestiedtosourceenvironment</targetReference>
            </connector>
            <label>User Story Contains Pipeline Connection Source Environment</label>
        </rules>
    </decisions>
    <formulas>
        <name>Userstoriesbehind</name>
        <dataType>Number</dataType>
        <expression>{!Totalforwardpromotedstories}-{!Totalbackpromotedstories}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>User Stories Behind Calculation for Environment and User Stories {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Stories Behind Calculation for Environment and User Stories</label>
    <loops>
        <name>Loop_through_pipeline_connections</name>
        <label>Loop through pipeline connections</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Pipeline_Connections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_lists</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Run_through_each_promoted_user_story</name>
        <label>Run through each promoted user story</label>
        <locationX>616</locationX>
        <locationY>1175</locationY>
        <collectionReference>Get_promoted_stories_for_each_pipeline_connection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_to_see_if_user_story_was_part_of_pipeline_connection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_back_promoted_user_stories_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_back_promoted_user_stories_0</name>
        <label>Get back promoted user stories</label>
        <locationX>616</locationX>
        <locationY>2183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_counts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_back_promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Destination_Promotion_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_pipeline_connections.Source_Environment_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Exclude_from_CBM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Promotion_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This step will get all the promoted stories deployed to the target org that were not deployed from the pipeline connection source environment.</description>
        <name>Get_promoted_stories_for_each_pipeline_connection</name>
        <label>Get promoted stories for each pipeline connection</label>
        <locationX>616</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TEST_PROMOTED_USER_STORY_COUNT</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6) AND (7 OR 8)</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Promotion_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Exclude_from_CBM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Destination_Promotion_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_pipeline_connections.Destination_Environment_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promotion_Source_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Destination_Environment__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promotion_Source_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_pipeline_connections.Destination_Environment_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pipeline_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Project__r.copado__Deployment_Flow__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pipeline_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Release__r.copado__Project__r.copado__Deployment_Flow__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Stories_from_Promoted_User_Stories</name>
        <label>Get User Stories from Promoted User Stories</label>
        <locationX>836</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_duplicates_before_adding_to_user_story_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Run_through_each_promoted_user_story.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pipeline_Connections</name>
        <label>Pipeline Connections</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TEST_PIPELINE_CONNECTION_COUNT</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 4) AND (3 OR 5)</filterLogic>
        <filters>
            <field>Destination_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Destination_Environment__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Destination_Environment__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pipeline_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Project__r.copado__Deployment_Flow__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Destination_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Source_Environment__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pipeline_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Release__r.copado__Project__r.copado__Deployment_Flow__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Deployment_Flow_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_user_stories_behind_field_to_0_0</name>
        <label>Update user stories behind field to 0</label>
        <locationX>484</locationX>
        <locationY>2543</locationY>
        <connector>
            <targetReference>Loop_through_pipeline_connections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_pipeline_connections.Source_Environment_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>User_Stories_Behind__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>copado__Environment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_user_stories_behind_to_formula_0</name>
        <label>Update user stories behind to formula</label>
        <locationX>748</locationX>
        <locationY>2543</locationY>
        <connector>
            <targetReference>Loop_through_pipeline_connections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_pipeline_connections.Source_Environment_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>User_Stories_Behind__c</field>
            <value>
                <elementReference>Userstoriesbehind</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Environment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pipeline_Connections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>copado__Promotion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Emptypromoteduserstorylist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>Emptytextlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmptyUserStoriesTiedtoSourceEnvironment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TESTPIPELINECONNECTIONCOUNT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TESTPROMOTEDUSERSTORIESCOUNT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Totalbackpromotedstories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Totalforwardpromotedstories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Totaluserstories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserStoriesTiedtoSourceEnvironment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
