flows/Version_5_User_Stories_Behind.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_User_Story_Record_ID_to_List</name>
        <label>Add User Story Record ID to List</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Totalnumberofuserstories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_user_story_tied_to_promoted_user_story.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_through_each_promoted_user_story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_promoted_and_back_promoted_variables_for_calculation</name>
        <label>Assign promoted and back promoted variables for calculation</label>
        <locationX>182</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>Promotedstoriesnottiedtouserstoryenvironment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Totalnumberofuserstories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Totalbackpromoteduserstories</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Back_promoted_stories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_to_see_if_user_stories_behind_is_less_than_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_Count_1_Delete_after_working</name>
        <label>Test Count 1  - Delete after working</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TestCount1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Promoted_User_stories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_through_each_promoted_user_story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_Count_2</name>
        <label>Test Count 2</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>TestCount1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Totalnumberofuserstories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Back_promoted_stories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_duplicates_before_adding_to_list</name>
        <label>Check for duplicates before adding to list</label>
        <locationX>358</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Add_User_Story_Record_ID_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_User_Story_Matches_User_Story_in_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Totalnumberofuserstories</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_user_story_tied_to_promoted_user_story.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_through_each_promoted_user_story</targetReference>
            </connector>
            <label>Current User Story Matches User Story in List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_see_if_user_stories_behind_is_less_than_0</name>
        <label>Check to see if user stories behind is less than 0</label>
        <locationX>182</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Update_user_stories_behind_to_formula</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Userstoriesbehind</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_environment_field_users_stories_behind_to_0</targetReference>
            </connector>
            <label>Less than 0</label>
        </rules>
    </decisions>
    <formulas>
        <name>Userstoriesbehind</name>
        <dataType>Number</dataType>
        <expression>{!Promotedstoriesnottiedtouserstoryenvironment}-{!Totalbackpromoteduserstories}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Version 5 User Stories Behind {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Version 5 User Stories Behind</label>
    <loops>
        <name>Run_through_each_promoted_user_story</name>
        <label>Run through each promoted user story</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Promoted_User_stories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_user_story_tied_to_promoted_user_story</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Test_Count_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Back_promoted_stories</name>
        <label>Back promoted stories</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_promoted_and_back_promoted_variables_for_calculation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_back_promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Destination_Promotion_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Environment__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Exclude_from_CBM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Promotion_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promoted_User_stories</name>
        <label>Get Promoted User stories</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Count_1_Delete_after_working</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promotion_Source_Environment_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Target_Environment_of_current_user_story.copado__Source_Environment__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Destination_Promotion_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Target_Environment_of_current_user_story.copado__Destination_Environment__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promotion_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Exclude_from_CBM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user_story_tied_to_promoted_user_story</name>
        <label>Get user story tied to promoted user story</label>
        <locationX>358</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_duplicates_before_adding_to_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Run_through_each_promoted_user_story.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Target_Environment_of_current_user_story</name>
        <label>Target Environment of current user story</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Promoted_User_stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Environment__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Deployment_Flow_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_environment_field_users_stories_behind_to_0</name>
        <label>Update environment field users stories behind to 0</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Environment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>User_Stories_Behind__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>copado__Environment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_user_stories_behind_to_formula</name>
        <label>Update user stories behind to formula</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Environment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>User_Stories_Behind__c</field>
            <value>
                <elementReference>Userstoriesbehind</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Environment__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Target_Environment_of_current_user_story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Exclude_From_CBM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Promotedstoriesnottiedtouserstoryenvironment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TestCount1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Totalbackpromoteduserstories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Totalnumberofuserstories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
