flows/Version_3_Environment_User_Stories_Behind.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Adduserstoriestototaluserstories_0</name>
        <label>Adduserstoriestototaluserstories</label>
        <locationX>792</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>UserStoryNumberfromPromotedUserStory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Adding_user_story_to_array_list.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Stories_tied_to_promoted_user_stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_forward_and_back_promoted_user_story_variables</name>
        <label>Assign forward and back promoted user story variables</label>
        <locationX>528</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>Countoftotalbackpromotions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Back_Promoted_Stories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Deduplicateduserstoriesdeployedforward</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UserStoryNumberfromPromotedUserStory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Environment_User_Stories_Behind_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Target_Environment</name>
        <label>Assignment Target Environment</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>TargetEnvironmentofCurrentUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_Environment_from_User_Story_Pipeline_Connection.Destination_Environment_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_pipeline_connections_pointing_at_Target_User_Story_Environment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_count_1</name>
        <label>Test count 1</label>
        <locationX>528</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Deduplicateduserstoriesdeployedforward</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_promoted_user_stories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Stories_tied_to_promoted_user_stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Testcountuserstories_0</name>
        <label>Testcountuserstories</label>
        <locationX>528</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>Testcountnumberofuserstories</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UserStoryNumberfromPromotedUserStory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Back_Promoted_Stories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_to_see_if_current_user_story_exists_in_totaluserstories</name>
        <label>Check to see if current user story exists in totaluserstories</label>
        <locationX>704</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Adduserstoriestototaluserstories_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_to_see_if_current_user_story_is_in_Totaluserstories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserStoryNumberfromPromotedUserStory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Adding_user_story_to_array_list.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Stories_tied_to_promoted_user_stories</targetReference>
            </connector>
            <label>Current User Story is in total Stories</label>
        </rules>
    </decisions>
    <formulas>
        <name>userstoriesbehind</name>
        <dataType>Number</dataType>
        <expression>{!Deduplicateduserstoriesdeployedforward}-{!Countoftotalbackpromotions}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Version 3 Environment User Stories Behind {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Version 3 Environment User Stories Behind</label>
    <loops>
        <name>Get_User_Stories_tied_to_promoted_user_stories</name>
        <label>Get User Stories tied to promoted user stories</label>
        <locationX>528</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_promoted_user_stories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_user_story_to_array_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Testcountuserstories_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_each_pipeline</name>
        <label>Loop through each pipeline</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_all_pipeline_connections_pointing_at_Target_User_Story_Environment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_promoted_user_stories</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Adding_user_story_to_array_list</name>
        <label>Adding user story to array list</label>
        <locationX>704</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_to_see_if_current_user_story_exists_in_totaluserstories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Stories_tied_to_promoted_user_stories.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Back_Promoted_Stories</name>
        <label>Back Promoted Stories</label>
        <locationX>528</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_forward_and_back_promoted_user_story_variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_back_promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Promotion_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Destination_Promotion_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Environment__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exclude_from_CBM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This will get all the pipeline connections pointing to the same target environment as the current user story.</description>
        <name>Get_all_pipeline_connections_pointing_at_Target_User_Story_Environment</name>
        <label>Get all pipeline connections pointing at Target User Story Environment</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_each_pipeline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Destination_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetEnvironmentofCurrentUserStory</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Deployment_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Project__r.copado__Deployment_Flow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Environment__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Deployment_Flow_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_promoted_user_stories</name>
        <label>Get promoted user stories</label>
        <locationX>528</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_count_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promotion_Source_Environment_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Loop_through_each_pipeline.Source_Environment_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Promotion_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Exclude_from_CBM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <sortField>copado__User_Story__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the target environment of the pipeline connection tied to the current user story.</description>
        <name>Target_Environment_from_User_Story_Pipeline_Connection</name>
        <label>Target Environment from User Story Pipeline Connection</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Target_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Environment__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Deployment_Flow_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Environment_User_Stories_Behind_Field</name>
        <label>Update Environment User Stories Behind Field</label>
        <locationX>528</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Loop_through_each_pipeline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_each_pipeline.Source_Environment_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>User_Stories_Behind__c</field>
            <value>
                <elementReference>userstoriesbehind</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Environment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Target_Environment_from_User_Story_Pipeline_Connection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Countoftotalbackpromotions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Deduplicateduserstories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>Deduplicateduserstoriesdeployedforward</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TargetEnvironmentofCurrentUserStory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Testcountnumberofuserstories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TestDeduplicatedPromoteduserstories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>Totaluserstories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>UserStoriestiedtopromoteduserstories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>UserStoryNumberfromPromotedUserStory</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
